/* Main CSS - Embedded in Application */

global
{
	fontFamily: "RegionalFont";
	fontSize: 11;
	color: #444444;
}

Application
{
    backgroundGradientColors: #FFFFFF, #DDDDDD;
}

.siteTitle
{
	fontSize: 50;
	fontWeight:bold
}

LinkButton
{
	textSelectedColor:#FF3300;
	
}

.homeBanner
{
	backgroundImage: Embed("../images/home-banner.jpg");
}

.homeStoryTitle
{
	fontSize:16;
	fontWeight:bold;	
}

.homeStoryBody
{
	fontSize:11;
}

.siteMenu
{
	tabStyleName:siteMenuButton;
	selectedTabTextStyleName:siteMenuButtonSelected;
}

.siteMenuButton
{
	font-size:16;
	skin:ClassReference(null);
	color:#333333;
	textSelectedColor:#FF3300;
	textRollOverColor:#FF3300;
}

.siteMenuButtonSelected
{
	font-size:16;
	skin:ClassReference(null);
	color:#FF3300;
}

.galleryMenu
{
	tabStyleName:galleryMenuButton;
	selectedTabTextStyleName:galleryMenuButtonSelected;
}

.galleryMenuButton
{
	font-size:12;
	skin:ClassReference(null);
	color:#FFFFFF;
	textRollOverColor:#FF3300;
}

.galleryMenuButtonSelected
{
	font-size:12;
	skin:ClassReference(null);
	color:#FF3300;
}

.galleryMenuBackground
{
	backgroundColor:#000000;
	backgroundAlpha:0.7;
}

.artistMenuBackground
{
	backgroundColor:#000000;
	backgroundAlpha:0.7;
}

.thumbMenuArrowLeft
{
	upSkin: Embed("../images/thumbMenuArrowLeft_up.png");
	overSkin: Embed("../images/thumbMenuArrowLeft_over.png");
	downSkin: Embed("../images/thumbMenuArrowLeft_down.png");
	disabledSkin: Embed("../images/thumbMenuArrowLeft_disabled.png");
}

.thumbMenuArrowRight
{
	upSkin: Embed("../images/thumbMenuArrowRight_up.png");
	overSkin: Embed("../images/thumbMenuArrowRight_over.png");
	downSkin: Embed("../images/thumbMenuArrowRight_down.png");
	disabledSkin: Embed("../images/thumbMenuArrowRight_disabled.png");
}

.footerCopyright
{
	fontWeight:bold;
}