/* Main CSS - Embedded in Application */

global
{
	fontFamily: "RegionalFont";
	fontSize: 11;
	color: #444444;
}

Application
{
    backgroundGradientColors: #FFFFFF, #DDDDDD;
}

.applicationTitle
{
	fontSize: 16;
}

.siteMenu
{
	backgroundAlpha:0;
}

.siteMenuButton
{
	font-size:20;
	skin:ClassReference(null);
	color:#333333;
	textSelectedColor:#FF3300;
	textRollOverColor:#FF3300;
	
}

.galleryMenu
{
	
}

.galleryMenuButton
{
	
}